# Artificial Neural Network

## Main Task
This data set contains details of a bank's customers and the target variable is a binary variable reflecting the fact whether the customer left the bank (closed his account) or he continues to be a customer.
> Understand the correlation between independent variables and dependent variable. Predicting if a new customer of the bank will stay OR leave the bank (A binary classification task).

## Data Understanding

1.0. What is the domain area of the dataset?
This dataset contains details of a bank's customers and the target variable is a binary variable reflecting the fact whether the customer left the bank (closed his account) or he continues to be a customer.

2.0. Which data format?
The dataset is in csv format!

2.1. Do the files have headers or another file describing the data?
The files does have headers that describes the data! Each column has a name that describes the data it contains!

2.2. Are the data values separated by commas, semicolon, or tabs?
The data values are separated by commas!
Example: 
* *RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited*  
* *1,15634602,Hargrave,619,France,Female,42,2,0,1,1,1,101348.88,1*

3.0 How many features and how many observations does the dataset have?
The dataset has:
* 14 features or columns!
* 10000 observations or rows!

4.0 Does it contain numerical features? How many?
Yes it contains 8 numerical features!

5.0. Does it contain categorical features? How many?
Yes it contains 3 or(4) categorical features! (The target class has 1 or 0 values.)

In [1]:
# Importing necessary libraries

import pandas as pd
import numpy as np
import tensorflow as tf

In [3]:
dataset = pd.read_csv("../dataset/Churn_Modelling.csv")

## Basic Exploratory Data Analysis

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
print(f"Number of features in the dataset is {dataset.shape[1]} and the number of observations/rows in the dataset is {dataset.shape[0]}")

Number of features in the dataset is 14 and the number of observations/rows in the dataset is 10000

### Handling Missing Values

In [9]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
dataset.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

### Data Pre-processing

In [11]:
# The features or columns (RowNumber), (CustomerId) and (Surname) don't have any effect on whether a customer will stay OR leave.
# So we don't include them in the independent variables.
X = dataset.iloc[:, 3:-1].values 
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]